/* Default styles */
.profile-row-container {
  display: flex;
  flex-wrap: wrap;
}

.profile-row {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /* Allow wrapping for multiple rows */
}

.profile {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  height: 280px;
  /* Reduced space now that icons are horizontal and mt100 removed */
  min-width: 230px;
  max-width: 300px;
  /* Adjusted to fit 3 per row nicely */
  width: calc(33.33% - 20px);
  /* Suggest 3 per row */
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #2c344727;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 20px;
}

.profile *,
.profile *:before,
.profile *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.profile figcaption {
  width: 100%;
}

.profile h2,
.profile h4,
.profile blockquote {
  margin: 0;
}

.profile h2,
.profile h4 {
  font-weight: 300;
}

.profile h2 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 4px;
}

.profile h4 {
  color: #46565c;
}

.profile blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}

.profile blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}

.profile .profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #386171;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .profile-row {
    align-items: center;
    flex-direction: column;
    /* Arrange items horizontally */
    flex-wrap: nowrap;
    /* Prevent wrapping */
    overflow-x: auto;
    /* Add horizontal scrolling if needed */
  }

  .profile {
    margin-left: -10%;
    margin-right: -10%;
    flex: 0 0 auto;
    /* Prevent profiles from shrinking */
    margin-top: 10px;
    /* Maintain margin around profiles */
  }
}