abody,
html {
    margin: 0;
    padding: 0;
}

.acontainer {
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 0px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    min-height: auto;
    width: 100%;
    padding: 20px 0;
}

.acontent {
    backdrop-filter: blur(10px);
    width: 60%;
    border-radius: 15px;
    border: 1px solid#fff;
}

.acontainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;


    /* Apply blur effect only to the background image */
}

.a_h1 {
    font-size: 3em;
    margin: 0;
    position: relative;
    /* Ensure the text is on top of the blurred background */
    z-index: 1;
}

.abtp {
    font-size: 1.2em;
    margin: 10px 0;
    position: relative;
    /* Ensure the text is on top of the blurred background */
    z-index: 1;
    line-height: 30px;
    margin-right: 15%;
    margin-left: 15%;
}

.deadline {
    font-weight: bold;
    position: relative;
    /* Ensure the text is on top of the blurred background */
    z-index: 1;
}

.abuttons {
    margin-top: 20px;
    text-align: center;
    /* Center the buttons horizontally */
    position: relative;
    /* Ensure the text is on top of the blurred background */
    z-index: 1;
    align-items: center;
}

.button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    position: relative;
    /* Ensure the text is on top of the blurred background */
    z-index: 1;
    align-items: center;


}

.abt-button {
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    position: relative;
    /* Ensure the text is on top of the blurred background */
    z-index: 1;
    align-items: center;
}

.abt2-button {
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    position: relative;
    /* Ensure the text is on top of the blurred background */
    z-index: 1;
    align-items: center;
    background-color: #4551a0;
}

.a_h5 {
    margin-top: 10px;
    align-items: center;
}

.a_h52 {
    color: whitesmoke;
    margin-top: 10px;
    align-items: center;
    font-size: medium;
}

.abutton.delegate {
    background-color: #00b894;
}

.abutton.closed {
    background-color: #66666600;
    cursor: not-allowed;
}

.strong {
    color: #1ea5de;
}

.bbb {
    background: transparent;
}

.abt-button:hover {
    background-color: #4551a0;
    /* Color on hover */
}

.abt2-button:hover {
    background-color: #141830;
    /* Color on hover */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .acontainer {
        padding: 10px;
        height: auto;
        border-radius: 0%;
        margin-top: -120px;
        margin-bottom: -100px;
    }

    .acontent {
        backdrop-filter: blur(0px);
        width: 90%;
        border-radius: 15px;
        border: 0px solid#fff;
    }

    .acontainer::before {}


    .a_h1 {
        font-size: 2em;
    }

    .abtp {
        font-size: 1em;
        line-height: 1.4em;
        margin-left: 15px;
        margin-right: 15px;
    }

    .abt-button {
        height: 50px;
        width: 200px;
        padding: 5px 0;
        font-size: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .acontainer {
        padding: 15px;
        height: auto;
    }

    .a_h1 {
        font-size: 2.5em;
    }

    .abtp {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-left: 15px;
        margin-right: 15px;
    }

    .abt-button {
        height: 50px;
        width: 200px;
        padding: 5px 0;
        font-size: 1.1em;
    }

    .acontainer::before {}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .acontainer {
        padding: 20px;
        height: 50vh;
    }

    .a_h1 {
        font-size: 2.75em;
    }

    .abtp {
        font-size: 1.15em;
        line-height: 1.6em;
        margin-left: 15px;
        margin-right: 15px;
    }

    .abt-button {
        width: 200px;
        height: 50px;
        padding: 12px 0;
        font-size: 1.2em;
    }

    .acontainer::before {}
}